.ruangan-satu {
    box-sizing: border-box;
    padding: 10px;
    border: 10px solid #ffffff;
    border-radius: 3vh;
}

.ruangan-dua {
    box-sizing: border-box;
    padding: 10px;
    border: 10px solid #ffffff;
    border-radius: 3vh;
}

.ruangan-tiga {
    box-sizing: border-box;
    padding: 10px;
    border: 10px solid #ffffff;
    border-radius: 3vh;
}

.ruangan-empat {
    box-sizing: border-box;
    padding: 10px;
    border: 10px solid #ffffff;
    border-radius: 3vh;
}
